
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.header {
  flex-basis: 100%;
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-left: 2rem;
}

.left-container {
  flex-basis: 30%;
  margin-right: 2rem;
  flex-direction: column;
  align-items: center;
}

.center-container {
  flex-basis: 40%;
  text-align: center;
}

.right-container {
  flex-basis: 30%;
  margin-left: 2rem;
}

.left-container h2 {
  margin-top: 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0.5rem;
}

input[type="number"] {
  margin-bottom: 1rem;
}

button[type="submit"],
button {
  padding: 0.5rem;
  margin-right: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #1e90ff;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover,
button:hover {
  background-color: #4169e1;
}

.history-container {
  cursor: pointer;
  margin-top: 2rem;
}

.history-list {
  cursor: pointer;
  list-style: none;
  padding: 0;
  margin: 0;
}

.history-list-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
}

.history-list-item button {
  background-color: #dc143c;
}

.history-list-item button:hover {
  background-color: #ff0000;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-container,
  .center-container,
  .right-container {
    margin: 1rem 0;
    margin-left: 20px;
    cursor: pointer;
  }

  .left-container {
    flex-basis: 100%;
  }

  .center-container {
    flex-basis: 100%;
  }

  .right-container {
    flex-basis: 100%;
  }
}

.forecast-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: #f2f2f2; */
  padding: 10px;
  border-radius: 5px;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 22%;
  max-width: 300px;
  margin-right: 20px;
  /* margin-bottom: 10px; */
  background-color: #fff;
}

.forecast-title {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.forecast-day {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.forecast-temp {
  margin: 10px 0;
}

.forecast-desc {
  font-style: italic;
}
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="text"] {
  width: 250px;
  outline: 2px solid blue;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 30px;
  background-color: white;
  color: black;
}
.form-button {
  width: 300px;
  padding: 10px 20px;
  background-color: #1e90ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-button:hover {
  background-color: #4169e1;
}

.convResults {
  text-align: center;
  font-size: 35px;
}

.left-container {
  text-align: center;
  font-size: 25px;
}

.conversionform {
  text-align: center;
  font-size: 25px;
}



.form-container input[type="text"] {
  font-size: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.form-container input[type="text"]::placeholder {
  font-size: 30px;
  color: #f2f2f2;
}

.form-container button[type="submit"] {
  font-size: 30px;
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: #45a049;
}

.form-container input {
  font-size: 30px;
  color: black;
}

.history-list-item:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

/* .form-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
} */






